.header {
  height: 44px;
  background: #31c27c;
  display: flex;
  justify-content: space-between;
  padding: 8px 10px 0 10px; }
  .header .qq-music {
    display: none; }
  .header .logo {
    height: 25px; }
  .header .download-app {
    color: #fff;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    padding: 0 12px;
    border-radius: 100px;
    background: #149c5a; }

.tabs {
  display: flex;
  height: 40px;
  line-height: 40px;
  background-color: #fff; }
  .tabs .tab-item {
    flex: 1;
    text-align: center; }
    .tabs .tab-item.active {
      border-bottom: 2px solid #31c27c; }

.rank {
  display: none;
  padding: 10px;
  background-color: #f4f4f4; }
  .rank.active {
    display: block; }
  .rank .rank-view {
    background-color: #fff;
    display: flex;
    position: relative;
    margin-bottom: 10px; }
    .rank .rank-view:last-child {
      margin-bottom: 0; }
    .rank .rank-view img {
      width: 100px;
      height: 100px; }
    .rank .rank-view .rank-view-wrap {
      flex: 1;
      padding: 4px 15px 4px 15px;
      overflow: hidden; }
      .rank .rank-view .rank-view-wrap h3 {
        font-size: 16px;
        margin-bottom: 3px; }
      .rank .rank-view .rank-view-wrap p {
        font-size: 14px;
        width: 100%;
        color: rbga(0, 0, 0, 0.3);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        word-break: break-all; }
      .rank .rank-view .rank-view-wrap .song-name {
        color: black; }
    .rank .rank-view .listen-number {
      position: absolute;
      bottom: 2px;
      left: 4px;
      font-size: 12px;
      color: #fff;
      opacity: .6; }
    .rank .rank-view::after {
      position: absolute;
      width: 7px;
      height: 7px;
      content: '';
      right: 7px;
      top: 50%;
      margin-top: -4px;
      transform: rotate(-45deg);
      border-right: 1px solid #aaa;
      border-bottom: 1px solid #aaa; }

.recommand {
  display: none;
  overflow: hidden; }
  .recommand.active {
    display: block; }
  .recommand .slider {
    width: 100%;
    margin-bottom: 14px; }
    .recommand .slider .slider-wrap {
      display: flex;
      transition-duration: .3s; }
      .recommand .slider .slider-wrap .slider-item > a img {
        width: 100%; }
  .recommand .radio {
    padding: 0 8px; }
    .recommand .radio .radio-title {
      font-size: 16px;
      margin-bottom: 11px; }
    .recommand .radio .radio-wrap {
      display: flex; }
      .recommand .radio .radio-wrap .radio-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #fff; }
        .recommand .radio .radio-wrap .radio-item:first-child {
          margin-right: 8px; }
        .recommand .radio .radio-wrap .radio-item .item-media {
          position: relative; }
          .recommand .radio .radio-wrap .radio-item .item-media .icon-play {
            position: absolute;
            background-image: url("/images/icon_play.png");
            background-repeat: no-repeat;
            background-size: 24px 60px;
            right: 5px;
            bottom: 10px; }
          .recommand .radio .radio-wrap .radio-item .item-media img {
            width: 100%; }
        .recommand .radio .radio-wrap .radio-item .item-info {
          height: 36px;
          border: 1px solid #fff;
          background-color: #fff; }
          .recommand .radio .radio-wrap .radio-item .item-info h3 {
            font-size: 14px; }
  .recommand .hot-songs {
    padding: 0 8px; }
    .recommand .hot-songs .hot-songs-title {
      font-size: 16px;
      margin-bottom: 11px; }
    .recommand .hot-songs .hot-songs-wrap {
      width: 100%;
      display: flex;
      flex-flow: row wrap; }
      .recommand .hot-songs .hot-songs-wrap .hot-song-item {
        width: 49%;
        margin-right: 2%;
        background-color: #fff;
        margin-bottom: 5px; }
        .recommand .hot-songs .hot-songs-wrap .hot-song-item:nth-child(2n) {
          margin-right: 0px; }
      .recommand .hot-songs .hot-songs-wrap .item-media {
        position: relative; }
        .recommand .hot-songs .hot-songs-wrap .item-media img {
          width: 100%; }
        .recommand .hot-songs .hot-songs-wrap .item-media .icon-play {
          position: absolute;
          right: 5px;
          bottom: 10px;
          background-size: 24px 60px;
          background-repeat: no-repeat;
          background-image: url("/images/icon_play.png"); }
      .recommand .hot-songs .hot-songs-wrap .item-info h3 {
        font-size: 14px; }

.search {
  display: none; }
  .search.active {
    display: block; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: rgba(100, 100, 100, 0.1);
  color: #555; }

li {
  list-style: none; }

h1, h2, h3, h4 {
  font-weight: normal; }

.icon {
  width: 24px;
  height: 24px; }
