.rank {
  display: none;
  padding: 10px;
  background-color: #f4f4f4; }
  .rank.active {
    display: block; }
  .rank .rank-view {
    background-color: #fff;
    display: flex;
    position: relative;
    margin-bottom: 10px; }
    .rank .rank-view:last-child {
      margin-bottom: 0; }
    .rank .rank-view img {
      width: 100px;
      height: 100px; }
    .rank .rank-view .rank-view-wrap {
      flex: 1;
      padding: 4px 15px 4px 15px;
      overflow: hidden; }
      .rank .rank-view .rank-view-wrap h3 {
        font-size: 16px;
        margin-bottom: 3px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
      .rank .rank-view .rank-view-wrap p {
        font-size: 14px;
        width: 100%;
        color: rbga(0, 0, 0, 0.3);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        word-break: break-all; }
      .rank .rank-view .rank-view-wrap .song-name {
        color: black; }
    .rank .rank-view .listen-number {
      position: absolute;
      bottom: 2px;
      left: 4px;
      font-size: 12px;
      color: #fff;
      opacity: .6; }
    .rank .rank-view::after {
      position: absolute;
      width: 7px;
      height: 7px;
      content: '';
      right: 7px;
      top: 50%;
      margin-top: -4px;
      transform: rotate(-45deg);
      border-right: 1px solid #aaa;
      border-bottom: 1px solid #aaa; }
