@import './headers.scss';
@import './nav.scss';
@import './rank.scss';
@import './recommand.scss';
@import './search.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgba(100, 100, 100,.1);
  color: #555;
}

li {
  list-style: none;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.icon {
  width: 24px;
  height: 24px;
}
