
.recommand {
  display: none;
  overflow: hidden;
  &.active {
    display: block;
  }
  .slider{
    width:100%;
    margin-bottom: 14px;
    .slider-wrap{
      display: flex;
      transition-duration: .3s;
      .slider-item > a{
        img{
          width: 100%;
        }
      }
    }
  }
  .radio{
    padding: 0 8px;
    .radio-title{
      font-size: 16px;
      margin-bottom: 11px;
    }
    .radio-wrap{
      display: flex;
      .radio-item{
        &:first-child{
          margin-right:8px;
        }
        flex: 1;
        // flex-basis: 50%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        .item-media{
          position: relative;
          .icon-play{
            position: absolute;
            background-image: url('/images/icon_play.png');
            background-repeat: no-repeat;
            background-size: 24px 60px;
            right: 5px;
            bottom: 10px;
          }
          img{
            width: 100%;
          }
        }
        .item-info {
          height: 36px;
          // border: 1px solid red;
          // color: #fff;
          border: 1px solid #fff;
          background-color: #fff;

          h3 {
            // height: 36px;
            font-size:14px;
          }
        }

      }
    }
  }
  .hot-songs{
    padding: 0 8px;
    .hot-songs-title {
      font-size: 16px;
      margin-bottom: 11px;
    }
    .hot-songs-wrap{
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      .hot-song-item {
        width: 49%;
        margin-right: 2%;
        background-color: #fff;
        margin-bottom: 5px;
        &:nth-child(2n){
          margin-right :0px;
        }
      }
      .item-media {
        position: relative;
        img{
          width: 100%;
        }
        .icon-play {
          position: absolute;
          right: 5px;
          bottom: 10px;
          background-size: 24px 60px;
          background-repeat: no-repeat;
          background-image: url('/images/icon_play.png')
        }
      }
      .item-info {
        h3 {
          font-size: 14px;
        }
      }
    }
  }
}